<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/collageHeroesIco.ico">
    <script src="https://kit.fontawesome.com/d2e3b3c5f6.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <img src="/img/babbage00.jpg"  alt="" class="imagen">
    <h1>Charles Babbage </h1>
    <h2 class="fecha" ><i>(1791-1871)</i></h2>
    <h4 > <u> PERFIL BIOGRÁFICO Y ACADÉMICO</u></h4>
    <p>
       <b> Nacido en Teignmouth (Devonshire), Reino Unido, el dia 26 de diciembre de 1791</b>, estudió matemáticas en el Trinity College y en el Peterhouse de Cambridge. Catedrático de matemáticas en la Universidad de Cambridge (1928-1939). Fue cofundador de la Analytical Society (1812) y fue uno de los promotores de la Astronomical Society (1820) y también tuvo relación con la fundación de la Sociedad de Estadística (1824) y de la Statistical Society (1834).
    </p>
    <p>
        Con un espíritu crítico y una conciencia social definida, en Reflections on the Decline of Science in England (1830), atacó a los gobiernos conservadores por anteponer la afinidad política en el apoyo a los científicos, marginando a los progresistas y a los de condición humilde; en The Ninth Bridgewater Treatise (1837) cuestionó las bases teológicas de la religión anglicana. Otros libros de los que fue autor: Entre sus libros, Economy of machinery and manufactures (1832) y la autobiografía Passages from live of a Philosopher (1864).
    </p>
    <p>
        Su contribución al desarrollo del cálculo matemático es muy reconocido, como también lo fue en el desarrollo de la economía, pero su contribución más significativa fue en el campo de las máquinas analíticas, capaces de hacer operaciones repetitivas del cálculo matemático, que hoy son consideradas como el antecedente de las computadoras, ya que incorporaba procesos y elementos de programación básicos. <i> <b>La primera máquina diferencial (difference engine) fue construida en 1821, capacidad de resolver polinomios de segundo grado. En 1956, construyó la primera máquina analítica (analytical engine), una verdadera calculadora, con secuencia de entrada, unidad de proceso, memorización y salida de datos. En su trabajo colaboró, en la elaboración de la secuencia de programación Ada Augusta Byron, condesa de Lovelace, impulsora activa del proyecto de Babbage.</b></i>
    </p>

    
    
     <button><a href="/"><i class="fas fa-home"></i>Volver</a> </p></button>

</body>
</html>