<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners-lee</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/collageHeroesIco.ico">
    <script src="https://kit.fontawesome.com/d2e3b3c5f6.js" crossorigin="anonymous"></script>
</head>
<body>
  <img  src="/img/berners.jpg"alt="" class="imagen">
    <h1>Timothy Berners-Lee</h1>
    <h4><u> PERFIL BIOGRÁFICO Y ACADÉMICO </u></h4>

    
    <p>
        <b> Timothy Berners-Lee nacido el 8 de junio de 1955 en Londres, Reino Unido.</b> <br>
        Desarrolló la base de la World Wide Web mientras trabajaba en la Organización Europea para la Investigación de Partículas (CERN) en Ginebra, Suiza. Allí escribió su primer programa para almacenar información, al que llamó "Inquire". El programa resultó ser la base conceptual para la futura World Wide Web. En 1994, Sir Tim fundó el World Wide Web Consortium (W3C), una organización internacional que crea estándares para la tecnología Web. Sir Tim se desempeña como su Director. Se convirtió en el primer titular de la Cátedra 3Com Founders en el Laboratorio de Ciencias de la Computación del MIT, que se fusionó con el Laboratorio de Inteligencia Artificial para convertirse en "CSAIL", el Laboratorio de Ciencias de la Computación e Inteligencia Artificial. Sir Tim se desempeña como investigador científico senior en CSAIL. Es catedrático del Departamento de Ciencias de la Computación de la Universidad de Southampton. 
    </p>
    <p> <i>
        Sir Tim es miembro distinguido de la British Computer Society, miembro de la Royal Society y asociado extranjero de la Academia Nacional de Ingeniería. Ha sido nombrado caballero por la Reina de Inglaterra por sus contribuciones al desarrollo de Internet, recibió la Orden del Mérito y el Premio Charles Stark Draper. Fue nombrado una de las 100 mentes más grandes del siglo XX por la revista Time. Tiene su licenciatura en física de la Universidad de Oxford, Inglaterra y tiene nueve doctorados honorarios.</i>
    </p>
    <button><a href="/"><i class="fas fa-home"></i>Volver</a> </p></button>
</body>
</html>
