<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edmun M. Clarke</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/collageHeroesIco.ico">
    <script src="https://kit.fontawesome.com/d2e3b3c5f6.js" crossorigin="anonymous"></script>
</head>

<body>
    <img src="/img/edmund-clarke.jpg" alt="" class="imagen">
    <h1>Edmun M. Clarke </h1>
    <h2 class="fecha"><i>(1945-2020)</i></h2>
    <h4> <u> PERFIL BIOGRÁFICO Y ACADÉMICO</u></h4>
<p>
    <b>  Edmund Melson Clarke, Jr. nacido en Newport News (Virginia), 27 de julio de 1945  </b> fue un informático teórico, profesor universitario, investigador, ingeniero y matemático estadounidense. <br> <br>

    Edmund M. Clarke recibió una licenciatura en matemáticas de la Universidad de Virginia, Charlottesville, VA, en 1967, una maestría en matemáticas de la Universidad de Duke, Durham NC, en 1968, y un Ph.D. Licenciado en Ciencias de la Computación de la Universidad de Cornell, Ithaca NY, en 1976. Después de recibir su doctorado, enseñó en el Departamento de Ciencias de la Computación de la Universidad de Duke durante dos años. <br> En 1978 se trasladó a la Universidad de Harvard, Cambridge, MA, donde fue profesor asistente de informática en la División de Ciencias Aplicadas. Dejó Harvard en 1982 para unirse a la facultad del Departamento de Ciencias de la Computación de la Universidad Carnegie-Mellon, Pittsburgh, PA. Fue nombrado Profesor Titular en 1989. En 1995 se convirtió en el primer receptor de la Cátedra de Sistemas FORE, una cátedra en la Facultad de Ciencias de la Computación. <br><br>

Los intereses del Dr. Clarke incluyen la verificación de software y hardware y la demostración automática de teoremas. En su Ph.D. tesis demostró que ciertas estructuras de control del lenguaje de programación no tenían buenos sistemas de prueba al estilo Hoare. En 1981 él y su Ph.D. El estudiante Allen Emerson propuso por primera vez el uso de Model Checking como una técnica de verificación para sistemas concurrentes de estados finitos. Su grupo de investigación fue pionero en el uso de Model Checking para la verificación de hardware. Su grupo también desarrolló la verificación de modelos simbólicos utilizando BDD. Esta importante técnica fue el tema del Ph.D. de Kenneth McMillan. tesis, que recibió un Premio ACM de Disertación de Doctorado. Además, su grupo de investigación desarrolló el primer demostrador de teoremas de resolución en paralelo (Partenón) y el primer demostrador de teoremas basado en un sistema de cálculo simbólico (Analytica). <br><br>

El Dr. Clarke se ha desempeñado en los consejos editoriales de Computación distribuida y Lógica y Computación y actualmente está en el consejo editorial de IEEE Transactions in Software Engineering. Fue editor en jefe de Formal Methods in Systems Design. Formo parte de los comités directivos de dos conferencias internacionales, Lógica en Ciencias de la Computación y Verificación asistida por computadora. Fue co-ganador junto con Randy Bryant, Allen Emerson y Kenneth McMillan del Premio ACM Kanellakis en 1999 por el desarrollo de Comprobación de modelos simbólicos. Por este trabajo también recibió un premio a la excelencia técnica de la Semiconductor Research Corporation en 1995 y un premio Allen Newell a la excelencia en la investigación del Departamento de Ciencias de la Computación de Carnegie Mellon en 1999. El Dr. Clarke tambien fue miembro de la Association for Computing Machinery. <br>
<i> <b> Lastimosamente Falleció el 22 de diciembre de 2020 a los 75 años a causa de COVID-19. </b></i>



</p>
<button><a href="/"><i class="fas fa-home"></i>Volver</a> </p></button>
</body>

</html>