<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/collageHeroesIco.ico">
    <script src="https://kit.fontawesome.com/d2e3b3c5f6.js" crossorigin="anonymous"></script>
</head>
<body>
    <img src="/img/margaret-hamilton.jpg" alt="" class="imagen">
    <h1>Margaret Hamilton</h1>
    <h4> <u> PERFIL BIOGRÁFICO Y ACADÉMICO </u></h4>

   <b> Margaret Heafield Hamilton nació el 17 de agosto de 1936 en Paoli (Estado de Indiana).</b> Su padre, Kenneth Heafield, era filósofo y poeta, su madre, Ruth Esther Heafield (de soltera Partington), profesora de secundaria, y su abuelo, director de una escuela y ministro cuáquero. En su infancia Margaret hablaba con su padre sobre el Universo y escuchaba los sermones de su abuelo. De ahí las insaciables ansias de conocimiento de Margaret, en particular de las Matemáticas y las Ciencias. <br>

    <i> Matemática e Ingeniera de Software, empresaria estadounidense, conocida por haber evitado el fracaso de la misión del alunizaje del 'Apolo 11'.</i> <br><br>


Estudió en la Hancock High School, donde se graduó en 1954. Al año siguiente se matriculó en Matemáticas en la Universidad de Michigan. Cuatro años después se licenció (B.A.) en esa materia que continuó estudiando, con Florence Long como tutora y modelo, en el Earlham College, de orientación cuáquera, en Richmond hasta 1958, donde también obtuvo una diplomatura (minor) en Filosofía como homenaje a su padre. Durante su estancia el Earlham, conoció al delegado de curso, James Cox Hamilton, con el que contrajo matrimonio en ese año. Su deseo era seguir estudiando, pero tuvo que trabajar como profesora de Matemáticas y Francés en un Instituto para que su marido pudiera graduarse en Leyes en la Universidad de Harvard. Posteriormente, Margaret se mudó a Boston para estudiar Matemáticas Puras en la Universidad privada de Brandeis. <br><br>

En 1959 nace Lauren, la hija de ambos. Margaret abandona los estudios de postgrado y en 1960 entra a trabajar como eventual en el Departamento de Meteorología del Instituto Tecnológico de Massachusetts (MIT), bajo las órdenes del profesor Edward Norton Lorenz, el matemático creador del término 'efecto mariposa' y pionero de la teoría del caos. Margaret Hamilton aprende a diseñar software para los pronósticos del tiempo, gracias a sus conocimientos de Matemáticas y utilizando los ordenadores LGP-30, fabricado por primera vez en 1956, y PDP-1, en 1960, dentro del proyecto MAC (MIT Algebraic Compiler) de Marvin Minsky. <br><br>

El Laboratorio Lincoln del MIT comenzó a diseñar otro proyecto de predicción meteorológica denominado SAGE (Semi-Automatic Ground Environment), que pasó a convertirse en proyecto militar durante la Guerra Fría, cuando los EE.UU. decidieron proteger su espacio aéreo con un programa de detección y seguimiento por radar de aeronaves enemigas. Margaret Hamilton fue incorporada en 1961 al proyecto SAGE y descubrió que las observaciones a las instrucciones estaban escritas en latín y griego. Consiguió que el software para el primer ordenador AN/FSQ-7 arrancase e hizo sus comentarios también en las dos lenguas clásicas. <br><br>

En la primavera de ese año de 1961, la Unión Soviética convirtió a Yuri Gagarin en el primer hombre en viajar al espacio, orbitando alrededor de nuestro planeta. Poco después, los estadounidenses hacían lo propio con Alan Shepard, iniciando un periodo de intensa competencia entre ambos países, que se prolongaría durante ocho años más. Los Estados Unidos querían ser la primera nación en poner el pie en la Luna. Para ello, la NASA comenzó a colaborar con el Charles Stark Draper (CSDL), un laboratorio de investigación perteneciente al MIT. <br><br>

Gracias a su esfuerzo y éxito en el proyecto de control para el sistema de defensa, SAGE, Margaret Hamilton fue incorporada como programadora al Apollo Program. Con unos conocimientos en programación extraordinarios, Hamilton pronto destacó. Fue la encargada, junto con su equipo, de diseñar parte del software que hacía funcionar el Módulo de Mando y el Módulo Lunar, y probablemente, la persona que evitó el fracaso de la misión. <br><br>

<i> Minutos antes de que el Módulo Lunar alunizara, Buzz Aldrin encendió un radar que no era utilizado durante la maniobra de alunizaje, pero que podría ser útil en caso de requerir abortar la misión. Dicho dispositivo empezó a llenar el procesamiento del sistema con tareas de medición, y el ordenador envió una alarma indicando que estaba sobrecargado. La vida de las astronautas podía estar en peligro, así como el futuro de la misión y del programa espacial americano. Durante unos minutos eternos, el botón de abortar la misión estuvo a punto de ser pulsado. Afortunadamente, la solución llegó de una joven Margaret Hamilton, que convenció al director de la Misión de que el software por ella diseñado estaba preparado para priorizar funciones imprescindibles y descartar las que no lo eran y, por tanto, con total seguridad, podía ignorar esos mensajes de error. El veredicto le llegó por radio a Neil Armstrong: We're go.('¡Vamos!). Y el Apollo 11 pudo alunizar. </i> <br><br>

Tras contribuir a poner a dos hombre en la Luna, durante los años venideros, Margaret dirigió y supervisó los desarrollos del resto de las misiones del programa Apollo, trabajó activamente en la creación del software de vuelo de la estación espacial Skylab, así como en los requisitos de software preliminares para la programación de vuelo del Transbordador Espacial. <br><br>

Margaret Hamilton acuñó la expresión «ingeniería del software», con la intención de que la actividad desarrollada por ella y su equipo fuera reconocida como un tipo de ingeniería y, al mismo tiempo, como una disciplina propia. En 1968 la denominación fue adoptada formalmente en la NATO Software Engineering Conference. <br><br>

El trabajo de Margaret Hamilton en el proyecto Apollo, fue germen de algunos de los conceptos básicos que luego se han consolidado dentro de la ingeniería del software de sistemas informáticos críticos, como la tolerancia a fallos, el diseño optimizado de interfaces, las arquitecturas abiertas y el análisis y modelización de sistemas y procesos, entre otros. <br><br>

En 1976 Hamilton cofundó HOS (Higher Order Software), una compañía de diseño de soluciones para prevención de errores de software y tolerancia a fallos. Uno de los productos más conocidos de HOS fue USE.IT, utilizado en numerosos proyectos del gobierno de los EE.UU. <br><br>

En marzo de 1986, Margaret Hamilton creó Hamilton Technologies, empresa orientada también a la prevención de errores de software. De ella surgieron el USL (Universal Systems Language) y su entorno automatizado asociado, el 001 Tool Suite, basado en el concepto DBTF ('Desarrollo antes de que ocurra'), empleado por algunas de las compañías e instituciones más importantes del mundo. <br>

En ese mismo año, Margaret Hamilton recibió el premio Augusta Ada Lovelace, concedido por la Asociación para la Mujer en la Informática a las mujeres con destacadas contribuciones en el campo de la Ciencia y la Técnica. <br><br>

En 2003 recibió el Exceptional Space Act Award de la NASA, por sus aportaciones a la misión del Apollo 11. Conllevaba un premio en metálico de $ 37.200.- el mayor concedido a un particular por la NASA. <br><br>

En 2009, el Earlham College la distinguió con el premio de Antiguos Alumnos Destacados. <br><br>

En 2016 el presidente Barack Obama entregó a Margaret Hamilton la Medalla Presidencial de la Libertad, el más alto galardón que se puede conceder a un civil en Estados Unidos. <br><br>

En 2017 recibió el Premio de Fellow del Museo Histórico de Informática, que honra a hombres y mujeres excepcionales cuyas ideas en esa disciplina hayan cambiado el mundo. También en ese mismo año Margaret Hamilton fue la protagonista del cuento Margaret and the Moon y LEGO la incluyó en el set de 'Mujeres de la NASA', con Mae Jemison, Sally Ride y Nancy Grace Roman. <br> <br>

<button><a href="/"><i class="fas fa-home"></i>Volver</a> </p></button>
</body>
</html>