<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes de la Programacion</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="img/collageHeroesIco.ico">

</head>
<body class="principal">
    
     <img src="/img/collageHeroes.jpg" alt="" class="imagenPrincipal" >
  
    <h1>HEROES DE LA PROGRAMACIÓN</h1>
  
    <div class="heroes">
       
    <ul>
        <li ><a href="/babbage">CHARLES BABBAGE</a></li>
        <li><a href="/berners-lee">TIMOTHY BERNERS-LEE</a></li>
        <li><a href="/clarke">EDMUN M. CLARKE</a></li>
        <li><a href="/hamilton">MARGARET HAMILTON</a></li>
        <li><a href="/hopper">GRACE MURRAY HOPPER</a></li>
        <li><a href="/lovelace">ADA LOVELACE</a></li>
        <li><a href="/turing">ALAN TURING</a></li>
    </ul>
   </div>

</body>
</html>