<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/collageHeroesIco.ico">
    <script src="https://kit.fontawesome.com/d2e3b3c5f6.js" crossorigin="anonymous"></script>
</head>
<body>
    <img src="/img/turing.jpg"alt="" class="imagen">
    <h1>Alan Mathison Turing </h1>
    <h2 class="fecha"><i>(1912-1954)</i></h2>
    <h4> <u> PERFIL BIOGRÁFICO Y ACADÉMICO</u></h4>

     <b> Alan Mathison Turing nacido en Londres el 23 de junio de 1912, Matemático británico.</b> Pasó sus primeros trece años en la India, donde su padre trabajaba en la Administración colonial. De regreso al Reino Unido, estudió en el King's College y, tras su graduación, se trasladó a la Universidad estadounidense de Princeton, donde trabajó con el lógico Alonzo Church. <br><br>

     En 1937 publicó un célebre artículo en el que definió una máquina calculadora de capacidad infinita (máquina de Turing) que operaba basándose en una serie de instrucciones lógicas, sentando así las bases del concepto moderno de algoritmo. Turing describió en términos matemáticos precisos cómo un sistema automático con reglas extremadamente simples podía efectuar toda clase de operaciones matemáticas expresadas en un lenguaje formal determinado. La máquina de Turing era tanto un ejemplo de su teoría de computación como una prueba de que un cierto tipo de máquina computadora podía ser construida. <br><br>

     <h4><u> La Maquina de Turing</u></h4>

     La primera máquina que Turing diseñó no era en realidad un dispositivo, sino un modelo matemático abstracto que todavía sigue utilizándose hoy en día. La ‘máquina’ de Turing define un sistema de lectura / escritura que, por resumirlo muy brevemente, define los conceptos computacionales de input, output y de algoritmo. <br><br>
     <i> Imaginada como una especie de cabezal lector que va leyendo sucesivas hojas en una cinta infinita, la máquina de Turing establece nada menos que las báses lógicas que permitieron desarrollar los primeros procesadores o ‘cerebros’ artificiales.</i> <br><br>

     La Segunda Guerra Mundial ofreció un insospechado marco de aplicación práctica de sus teorías, al surgir la necesidad de descifrar los mensajes codificados que la Marina alemana empleaba para enviar instrucciones a los submarinos que hostigaban los convoyes de ayuda material enviados desde Estados Unidos; Turing, al mando de una división de la Inteligencia británica, diseñó tanto los procesos como las máquinas que, capaces de efectuar cálculos combinatorios mucho más rápidamente que cualquier ser humano, fueron decisivos en la ruptura final del código. <br><br>

     Alan Turing definió además un método teórico para decidir si una máquina era capaz de pensar como un hombre (test de Turing) y realizó contribuciones a otras ramas de la matemática aplicada, como la aplicación de métodos analíticos y mecánicos al problema biológico de la morfogénesis. <br><br>
     
     <h4> <u> Un Robo Acabo con su Carrera </u></h4>

    <i> Era 1952 y, mientras trabajaba, alguien entró en su casa y robó algunas de las notas que tenía de sus proyectos. Cuando denunció ante las autoridades, reveló que mantenía una relación homosexual, lo que le valió un castigo a 'castración química' por 'indecencia grave' bajo las normas de la época y acabó con su carrera profesional: solo dos años después, en 1954, aparecía muerto tras ingerir cianuro. Unos, lo consideraron un suicidio; otros, un asesinato. Lo cierto es que nunca se le hizo un obituario público, aduciendo que muchas de las grandes tareas que había llevado a cabo se encontraban clasificadas como secreto de Estado y, por tanto, no se podían contar, aunque las sospechas apuntan a que estaba relacionado con su tendencia sexual. </i> <br><br>

    <button><a href="/"><i class="fas fa-home"></i>Volver</a> </p></button>

</body>
</html>